@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #627481;
}

li {
  list-style: none;
}

body {
  background: #2e2e2e;
}

.container {
  margin: 40px;
}

.note-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  gap: 15px;
}

.card {
  height: 250px;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px 20px;

  display: flex;
  flex-direction: column;
 justify-content: space-between;
}

.card-title {
  font-size: 22px;
  font-weight: 500;
}

.card-text {
  font-size: 16px;
}

.add-card-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.add-btn {
  height: 75px;
  width: 75px;
}

.add-text {
  font-weight: 500;
  user-select: none;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #a9a9a9;
  padding-top: 10px;
}

.settings {
  position: relative;

  display: flex;
  align-items: center;
}

.settings-btn {
  height: 20px;
  width: 20px;
}

.menu {
  position: absolute;
  bottom: 0;
  right: -5px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

  width: 100px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  scale: 0;
  transform-origin: bottom right;
  transition: all .1s ease;
}

.settings:hover .menu {
  scale: 1;
}

.menu li {
  border-radius: 0;
  cursor: pointer;
  padding-left: 4px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  user-select: none;
}

.menu li:hover {
  background: #ececec;
  border-radius: 4px;
}

.menu span {
  font-size: 14px;
  margin-left: 5px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.top-content p {
  font-size: 20px;
  font-weight: 500;
}

.close {
  cursor: pointer;
}

.title {
  padding: 15px 0;

  display: flex;
  flex-direction: column;
}

.popup form :where(input, textarea) {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}

.description {
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;
}

.popup form textarea {
  height: 150px;
  resize: none;
}

.popup-add-btn,.popup-accept-btn {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background: #2e2e2e;
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
}

.none {
  display: none;
}